body{
    margin: 0%;
    background-color: #181818;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(33, 33, 33, 0.98);
    width: 100%;
}

header div{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    color: #fff;
    width: 20%;
    
}

.content{
   
    display: flex;
  justify-content: space-between;
    background-color:  #181818;
    width: 100%;
    height: 100%;
    
    
}



.left{
    background-color: #181818;
    height: 500px;
    width: 60%;
    margin-left: 5%;
    margin-top: 3%;
}
.videoplayer{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    background-color: purple;
  }
  .videoplayer iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

nav{
    background-color: rgb(122, 150, 122);
    margin-right: 5%;
    margin-top: 3%;
    height: 500px;
    width: 28%;
}


i{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.input{
    width: 45%;
    
}
.input input{
    width: 100%;
    background-color: black;
    height: 30px;
    color: white;
    padding-left: 15px;
}
.input div{
    height: 8px;
    font-size: 18px;
    width: 10%;
    background-color: hsla(0, 0%, 100%, 0.08);
}
.fa-microphone{
    margin-left: 10px;
}
.fa-search{
    color: grey;
}
.description{
    background-color: #181818;
    color: white;
}
.symbols{
    display: flex;
    flex-direction: row;
    margin: 0%;
}

.views{
    width: 40%;
    background-color: #181818;
    border: 1px solid white;
}
.views p{
    position: relative;
    bottom: 15px;
}
.right{
    width: 25%;
    background-color:  #181818;
    display: flex;
    font-size: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
}
.save{
    font-size: 20px;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    border: 1px solid white;
}
.details{
    display: flex;
    flex-direction: row;
    
    height: 200px;
    width: 100%;
}

.idImage{
    width: 15%;
    text-align: center;
    font-size: 55px;
    background-color: blue;
}
.showMore{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
     width: 100%;
}
.one button{
   
    font-size: 20px;
    color: white;
    padding: 20px;
    text-align: center;
}
.oneP{
    
}
.oneP p{
    margin: 5px;
}
.two{
    
    width: 100%;
}

.comments{
    
    background-color: green;
    height: 20px;
    width: 100%;
}
.comments p{
    display: inline;
}